@import '../../variables'

.root
    display: grid
    grid-template: 38px / 1fr 1fr
    column-gap: 51px
    & > div
        display: block
        grid-row: 1 / 2
        grid-column: 2 / -1

.toggler
    display: flex
    flex-direction: row
    flex: 1 1 auto
    background-color: $btn_bg
    border-radius: 5px
    width: 243px
